Package: flank
Version: 0.1.50
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Angus Mitchell <anguspmitchell@gmail.com>
Description: A CLI wrapper for building and sharing tools
Depends: awk, time, gettext-base
